body{
    font-family: "Century Gothic";
}

*:hover{color: yellow;}

h1, h2 {
    font-weight: normal;
    font-family: "Century Gothic";
    margin: 3px;
    padding: 0px;
}

#header{
    background-color: #A8F0F0 ;
    text-align: right;
    border-top-right-radius: 9px;
}

#main1{

  padding-top: 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: stretch;

}
#fresh{
    font-size: 14pt;
}
#friends{
    float:left;
    border: 4px solid rgb(77, 138, 235);
    background-color: #A8F0F0;
    width:20%;
    clear: right;
    padding: 5px;
    order: 1;
    flex-basis: 25%;

}
.blue{
      
      padding-left: 5px;
      flex-basis: 75%;
     
     


}
.main{ 
    border-style: solid;
    border-color:  white ;
    border-width: 10px;
    background-color: white;
    margin-left: 15%;
    margin-right: 15%;
}
#blue-box1{ 
    border-style: solid;
    border-color:  #C2E9E9 ;
    border-width: 4px;
    background-color:  #E8FBFB;
    padding: 5px;
  
}
#blue-box2{
    border-style: solid;
    border-color:  #C2E9E9 ;
    border-width: 4px;
    background-color:  #E8FBFB;
    padding: 5px;
 
    margin-top: 5px;
}
#blue-box1:hover{color: yellow;}
#blue-box2:hover{color: yellow;}

.image{
    display: block;
    float: right;
    width: auto;
    height: auto;
    
}
.date{
    border-bottom: 2px blue dashed;
}
